<html>

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for("index")}}">Home</a></li>
        </ol>
      </nav>
</head>
<body>   
    <center>
        <h1>HOME</h1>
        <a href="{{url_for("register_form")}}">CREATE AN ACCOUNT</a><br>
        <a href="{{url_for("login_form")}}">I HAVE AN ACCOUNT</a><br>
    </center>







</body>
</html>