<html>

<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TODO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for("login_form")}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for("register_form")}}">Register</a>
          </li>
        </ul>
      </div>
    </nav>

    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"

</head>
<body>

    <center>
        <h1>THE TODO APP</h1>
        <p>Welcome to the TODO app where you can manage you tasks to keep up with your deadlines</p>
        <p>If you dont have a account <a href="{{url_for("register_form")}}">register</a> </p><br>
        <p>If you do <a href="{{url_for("login_form")}}">login</a><br> </p><br>
        <a href="{{url_for("register_form")}}">CREATE AN ACCOUNT</a><br>
        <a href="{{url_for("login_form")}}">I HAVE AN ACCOUNT</a><br>
    </center>







</body>
</html>