<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for("index")}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for("register_form")}}">Register</a>
              </li>
            </ul>
          </div>
        </nav>

        <center>
            <h1>LOGIN</h1>
            <form method="POST" action="{{url_for('login_go')}}">
                <div class="form-group">
                <input type="name" name="name" placeholder="Email"><br>
                </div>
                <div class="form-group">
                <input type="password" name="password" placeholder="Password"><br>
                </div>
                <button  type="submit" class="btn btn-primary" name="submit" placeholder="Login">Login</button>
            </form>
            <a href="{{url_for("register_form")}}">I DONT HAVE AN ACCOUNT</a><br>
        </center>

        </div>
    </body>
</html>