<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <center>
            <h1>Login</h1>
            <form method="POST">
                <input type="name" name="name" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" name="submit" placeholder="Login"><br>
            </form>
            <a href="{{url_for("register")}}">REGISTER</a><br>
        </center>
    </body>
</html>