</html>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>
    <body>
        <center>
            <h1>REGISTER</h1>
            <form method="POST" action="{{url_for('new_account')}}">
                <input type="name" name="name" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="password" name="password1" placeholder="Repeat Password"><br>
                <input type="submit" name="submit_admin" placeholder="Admin Account" value="CREAT AN ADMIN ACCOUNT">
                <input type="submit" name="submit_regular" placeholder="Regular Account" value="CREAT AN REGULAR ACCOUNT" formaction="{{url_for('new_reg_account')}}"><br>
            </form>
            <a href="{{url_for("index")}}">HOME</a><br>
            <a href="{{url_for("login_form")}}">I HAVE AN ACCOUNT</a><br>
        </center>
    </body>
</html>