</html>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    </head>
    <body>    
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for("index")}}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
          </nav>
        <center>
            <h1>REGISTER</h1>
            <div class="form-group">
            <form method="POST" action="{{url_for('new_account')}}">
                <input type="name" name="name" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="password" name="password1" placeholder="Repeat Password"><br>
                <input type="submit" class="btn btn-primary" name="submit_regular" placeholder="Regular Account" value="CREAT AN REGULAR ACCOUNT" formaction="{{url_for('new_reg_account')}}">
                <input type="submit" class="btn btn-warning" name="submit_admin" placeholder="Admin Account" value="CREAT AN ADMIN ACCOUNT">
            </form>
            </div>
            <a href="{{url_for("login_form")}}">I HAVE AN ACCOUNT</a><br>
        </center>
    </body>
</html>